<div class="container">
  <h1>Add Data</h1>

  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-control" (change)="categoryData($event)">
          <option disabled>Select Category</option>
          <option>Choose Category</option>
          <option *ngFor="let item of category">{{ item.name }}</option>
        </select>
      </div>

      <div *ngIf="isActiveCategory" class="form-group">
        <label for="category">SubCategory:</label>
        <select class="form-control" (change)="subCategoryData($event)">
          <option disabled>Select SubCategory</option>
          <option>Choose SubCategory</option>
          <option *ngFor="let item of subCategory">{{ item.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="data.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="data.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="title">price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          required
          [(ngModel)]="data.price"
          name="price"
        />
      </div>
      <div class="form-group">
        <label for="description">Image 1</label>
        <input
          class="form-control"
          id="image"
          required
          [(ngModel)]="data.image[0]"
          name="image"
        />
      </div>
      <div class="form-group">
        <label for="description">Image 2</label>
        <input
          class="form-control"
          id="image"
          required
          [(ngModel)]="data.image[1]"
          name="image"
        />
      </div>
      <div class="form-group">
        <label for="description">Image 3</label>
        <input
          class="form-control"
          id="image"
          required
          [(ngModel)]="data.image[2]"
          name="image"
        />
      </div>
      <button
        [disabled]="isDisabled(data)"
        (click)="saveData()"
        class="btn btn-success"
      >
        Submit
      </button>
    </div>
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newData()">Add</button>
    </div>
  </div>
</div>
