<div class="d-flex justify-content-center">
  <button *ngIf="isLoading" class="btn btn-primary spin" type="button" disabled>
    <span
      class="spinner-grow spinner-grow-sm"
      role="status"
      aria-hidden="true"
    ></span>
    Loading...
  </button>

  <div *ngIf="!isLoading && !isContent">
    <h1>No Items In Wishlist</h1>
  </div>
</div>
<div class="card-group">
  <div *ngFor="let i of products" class="col-sm-3 carditem">
    <div class="card border-dark bg-lightk">
      <div class="cardimg">
        <img class="card-img cardimg" src="{{ i.image[0] }}" />
      </div>
      <div class="card-body">
        <div class="card-detail">
          <h6 class="card-title">{{ i.title }}</h6>
          <p class="card-text">{{ i.description }}</p>
        </div>
        <hr />

        <h5 class="card-title">{{ i.price }}</h5>
        <button class="btn btni btn-primary">Buy now</button>
        <button class="btn btni btn-success" (click)="addCart(i)">
          Add to cart
        </button>
        <button class="btn btni btn-outline-danger" (click)="delete(i)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
