<div class="loginSignupPage">
  <div class="loginSignupPageButton">
    <div
      *ngIf="!isLogin"
      class="d-flex align-items-center justify-content-center"
    >
      <p class="mb-0 me-2">Alreay have an account?</p>
      <button type="button" class="btn btn-outline-danger" (click)="redirect()">
        Log in
      </button>
    </div>
    <div
      *ngIf="isLogin"
      class="d-flex align-items-center justify-content-center"
    >
      <p class="mb-0 me-2">Don't have an account?</p>
      <button type="button" class="btn btn-outline-danger" (click)="redirect()">
        Sign up
      </button>
    </div>
  </div>
  <app-login *ngIf="isLogin"></app-login>
  <app-signup *ngIf="!isLogin"></app-signup>
</div>
